body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.modal {
  background-color: white;
  width: 480px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  padding: 46px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}

.icon {
  background-color: lavender;
  color: royalblue;
  font-size: 26px;
  font-weight: 900;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  margin: 0;
}

.close-button {
  background-color: #eee;
  border-radius: 50%;
  color: #888;
  font-size: 16px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin-bottom: 16px;
  text-align: center;
}


button {
  padding: 8px 16px;
  border-radius: 8px;
}

.continue {
  background-color: royalblue;
  border: 1px solid royalblue;
  color: white;
  width: 80px;
}

.cancel {
  background-color: white;
  border: 1px solid #ddd;
  color: royalblue;
  width: 80px;
}
